<div class="fig-row">
    {% include fig-2col.html
    src='assets/images/gru-2/snr_analysis/snr_analysis-example_60-88200-rnnupsampled-gru-2.png'
    caption='(GRU, OS=2)'
    %}
    {% include fig-2col.html
    src='assets/images/lstm-4/snr_analysis/snr_analysis-example_60-88200-rnnupsampled-lstm-4.png'
    caption='(LSTM, OS=2)'
    %}
</div>
<div class="fig-row">
    {% include fig-2col.html
    src='assets/images/gru-2/snr_analysis/snr_analysis-example_60-176400-rnnupsampled-gru-2.png'
    caption='(GRU, OS=4)'
    %}
    {% include fig-2col.html
    src='assets/images/lstm-4/snr_analysis/snr_analysis-example_60-176400-rnnupsampled-lstm-4.png'
    caption='(LSTM, OS=4)'
    %}
</div>