<div class="stylized-title">
    <h1 class="paper-title">Antiderivative Antialiasing for Recurrent Neural Networks</h1>
    <p class="authors">
        Otto Mikkonen
        and
        Kurt James Werner
    </p>
    <p class="affiliations">
        Soundtoys, Inc.<br>Burlington, VT<br>USA
    </p>
    <p class="conference">
        <emph>Presented at
            the 28th International Conference on Digital Audio Effects (DAFx25),<br>
            Ancona, Italy, 2-5 September 2025</emph>
    </p>
    <!-- TODO: Add Links -->
</div>