> NOTE: Watch out for the level!

<!-- OS 1 -->
<div class="fig-row">
    {% include fig-2col.html
    src='/assets/images/gru-2/sweeps/debug_plot_RNN, GRU, OS=1.png'
    caption='(RNN, OS=1)'
    audio='/assets/audio/gru-2/sweeps/0_RNN-GRU-OS=1_44kHz_stereo.wav'
    %}
</div>
<hr class="divider">

<!-- OS 2 -->
<div class="fig-row">
    {% include fig-2col.html
    src='/assets/images/gru-2/sweeps/debug_plot_RNN, GRU, OS=2.png'
    caption='(RNN, OS=2)'
    audio='/assets/audio/gru-2/sweeps/0_RNN-GRU-OS=2_88kHz_stereo.wav'
    %}
    {% include fig-2col.html
    src='/assets/images/gru-2/sweeps/debug_plot_ADAARNN, GRU, order=1, OS=2.png'
    caption='(ADAARNN, order=1, OS=2)'
    audio='/assets/audio/gru-2/sweeps/0_ADAARNN-GRU-order=1-OS=2_88kHz_stereo.wav'
    %}
</div>
<hr class="divider">

<!-- OS 4 -->
<div class="fig-row">
    {% include fig-2col.html
    src='/assets/images/gru-2/sweeps/debug_plot_RNN, GRU, OS=4.png'
    caption='(RNN, OS=4)'
    audio='/assets/audio/gru-2/sweeps/0_RNN-GRU-OS=4_176kHz_stereo.wav'
    %}
    {% include fig-2col.html
    src='/assets/images/gru-2/sweeps/debug_plot_ADAARNN, GRU, order=1, OS=4.png'
    caption='(ADAARNN, order=1, OS=4)'
    audio='/assets/audio/gru-2/sweeps/0_ADAARNN-GRU-order=1-OS=4_176kHz_stereo.wav'
    %}
</div>
<div class="fig-row">
    {% include fig-2col.html
    src='/assets/images/gru-2/sweeps/debug_plot_ADAARNN, GRU, order=2, OS=4.png'
    caption='(ADAARNN, order=2, OS=4)'
    audio='/assets/audio/gru-2/sweeps/0_ADAARNN-GRU-order=2-OS=4_176kHz_stereo.wav'
    %}
</div>